<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--DB　SQL2008テスト用-->
    <!--<add name="connectionString" connectionString="Data Source=10.160.200.39; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=lixil@2014" providerName="SQLNCLI10.1"/>-->

    <add name="connectionString" connectionString="Data Source=WIN7U-20150705K\R2; Initial Catalog=GKL;Persist Security Info=True;User ID=sa;Password=1983313a" providerName="SQLNCLI10.1"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true">
      <assemblies>
        <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime/>
  </system.web>
</configuration>